---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Button, buttonVariants } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
---

<BaseLayout
  title="LashBook App"
  description="A bookings and lash map designer system for lash techs"
>
  <section
    class="container grid grid-cols-1 md:grid-cols-2 items-center gap-6 pt-6 pb-8 md:py-10"
  >
    <div>
      <div class="flex max-w-[980px] flex-col items-start gap-2 mb-4">
        <h1
          class="leading-tight font-extrabold tracking-tighter text-4xl lg:text-8xl"
        >
          The App For <span class="text-fuchsia-400"
            ><br class="sm:hidden" />Lash Designers</span
          >
        </h1>
        <p class="text-muted-foreground max-w-[700px] text-lg mb-10">
          A booking system for lash techs with a game-changing mapping designer.
          Join our email list for updates and an early bird discount!
        </p>
      </div>
      <div>
        <form name="contact" class="flex gap-4 mb-10" netlify>
          <Input
            type="email"
            name="email"
            placeholder="youremail@example.com"
            client:load
          />
          <Button type="submit">Submit</Button>
        </form>
      </div>
    </div>

    <section class="mb-20">
      <div
        class="border-1 shadow-2xl dark:shadow-fuchsia-700 dark:border-none skew-2 rounded-lg overflow-hidden"
      >
        <video id="vid" autoplay muted playsinline loop class="w-full">
          <source src="video.mp4" type="video/mp4" />
        </video>
        <script>
          document.getElementById("vid").play();
        </script>
      </div>
    </section>
  </section>
  <section
    class="container grid grid-cols-1 md:grid-cols-[1fr_2fr] w-full items-center gap-20"
  >
    <img src="artboard.png" class="w-100 m-0" />
    <div>
      <h1 class="text-4xl md:text-4xl font-bold mt-0">
        Enter to Win LashBook Giveaway!
      </h1>
      <p class="text-muted-foreground max-w-[700px] text-lg mb-4">
        Fill out our interest form to enter into a draw for a lashbook giveaway
        bundle. Includes a 10% discount on the LashBook app at launch, a
        t-shirt, lash shampoo and more!
      </p>
      <a
        href="https://form.typeform.com/to/Az0ZbbYr"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: "outline" }) + ' mb-10'}
      >
        Enter Giveaway
      </a>
    </div>
  </section>
</BaseLayout>
